extends ../../layouts/layout.pug

block content
  .container
    .row
      .col-md-5
        h1.display-2 Pricing
        p Our prices are based on product utilization. Each application you run, continuously, is charged at $0.14c, per hour. In Azuqua, applications are often thought of as event-driven flows. We've coined the term "FLO" to represent that concept.
        p
          h2 Early Access
          h5 Free, for a limited time.
          p For the next three months, we're offering early access to developers while the program is in beta. This is an unrestricted plan, allowing you to build, explore, and create on the Azuqua platform, at no cost.
          p Once the early access period is over, our pricing will be changed to our standard $0.14c per hour of app utilization.
        p
      .col-md-7
        img.img-fluid(src="../img/dev_group.jpg")
