extends ../../layouts/layout.pug

block content
  .page-header-container(style="background-color: #3A3F50; color: white; padding-top: 40px; padding-bottom: 40px;")
    .container
      .row
        .col-md-12.text-md-center
          h2 Flexible pricing, to meet your needs.
          .lead
  .container(style="padding-top: 80px;")
    .row
      .col-md-12.text-md-center
        h3(style="color: #008CEE") #[strong FLOs] are streams of programming logic that are the basis for your application.
        .lead You can use many FLOs to drive complex functionality, or a single FLO for a specific purpose.
    .row(style="padding-top: 80px;")
      .col-md-5
        h5 Pay for only what you use.
        p Each FLO costs #[strong $0.14 per hour of utilization]. Inside Azuqua, you can toggle the status of a FLO to be active, or inactive, whenever you'd like.
        h5 Be one of the first. Join our beta program.
        p We're offering #[strong free Early Access] to developers while our Developer Program is in beta.
        p Once the early access period is over, our pricing will be changed to our standard $0.14 per hour of FLO utilization. Don't worry, you will be able to keep all existing FLOs you have created during the early access period.
      .col-md-6.offset-md-1
        img.img-fluid(src="../img/dev_group.jpg")
    //- .row(style="padding-top: 40px; padding-bottom: 40px;")
    //-   h4.text-md-center Invite, collaborate, and create with others.
    //- .row
    //-   .col-md-4.offset-md-2
    //-     h5 Take your app to scale.
    //-     p Azuqua will scale proportionally with the traffic your app is receiving. No configuration necessary.
    //-   .col-md-4
    //-     table.table
    //-       thead
    //-         tr
    //-           th Plan
    //-           th Cost
    //-       tbody
    //-         tr
    //-           td Developer
    //-           td $0.14/per FLO hour.
    //-         tr
    //-           td Basic
    //-           td 5 FLOs, $200/month
    //-         tr
    //-           td Premier
    //-           td 20 FLOs, $1000/month
    //-         tr
    //-           td Enterprise
    //-           td Contact Us


  .color-container(style="background-color: #FBFBFC;")
    .container(style="padding-top: 80px; padding-bottom: 80px;")
      .row
        .col-md-12.text-md-center
          h3 Sign up today to take part in our beta program!
          .lead We'd love to get you involved with the Azuqua Platform.
          form.form-inline(style="padding-top: 15px;" action="https://auth.azuqua.com/signup" method="POST")
            .form-group
              input(name="email" type="email" placeholder="Email Address").form-control
              input(name="signup_from" type="hidden" value="Developer").form-control
              input(name="plan" type="hidden" value="AZQ_DEV").form-control
              input(name="partner_name" type="hidden" value="Azuqua").form-control
            button(type="submit").btn.btn-primary Sign Up For Early Access
