.footer-background(style="background-color: black;")
  .container.sitemap
    //- .row
    //-   .col-md-3
    //-     ul.list-group
    //-       li.list-group-item
    //-         h6 Docs
    //-       li.list-group-item
    //-         a(href="#") Quick Start
    //-       li.list-group-item
    //-         a(href="#") Thinking with Azuqua
    //-       li.list-group-item
    //-         a(href="#") Tutorial
    //-       li.list-group-item
    //-         a(href="#") Advanced Guides
      .col-md-3
        ul.list-group
          li.list-group-item
            h6 Community
          li.list-group-item
            a(href="http://stackoverflow.com/questions/tagged/azuqua") Stack Overflow
          li.list-group-item Discussion Forum
          li.list-group-item
            a(href="https://www.facebook.com/azuqua") Facebook
          li.list-group-item
            a(href="https://www.twitter.com/azuqua") Twitter
      .col-md-3
        ul.list-group
          li.list-group-item
            h6 Resources
          li.list-group-item Conferences
          li.list-group-item Examples
          li.list-group-item Complementary Tools
      .col-md-3
        ul.list-group
          li.list-group-item
            h6 More
          li.list-group-item
            a(href="https://www.azuqua.com/blog") Blog
          li.list-group-item
            a(href="https://github.com/azuqua") GitHub

    .row
      .col-md-12.text-md-center(style="padding: 45px;")
        .copyright Copyright 
         i(class="fa fa-copyright" aria-hidden="true")
         |  2016 Azuqua
