nav.navbar
  a.navbar-brand(href="https://dev.azuqua.com/" style="margin-right: 35px;")
    img(src="/img/azuqua_svg.svg" width=151)
  ul.nav.navbar-nav
    //- li.nav-item
    //-   a.nav-link(href="#") Docs
    li.nav-item
      a.nav-link(href="https://learn.azuqua.com") Platform Reference
      //- a.nav-link(href="#") Tutorial
    //- li.nav-item
    //-   a.nav-link(href="#") API Reference
