nav.navbar.navbar-full
  a.navbar-brand(href="/" style="margin-right: 35px;")
    img(src="/img/azuqua_svg.svg" width=150)
  ul.nav.navbar-nav
    //- li.nav-item
    //-   a.nav-link(href="#") Docs
    li.nav-item
      a.nav-link(href="/") Home
    //- li.nav-item
    //-   a.nav-link(href="https://dev.azuqua.com/features") Features
    li.nav-item
      a.nav-link(href="/pricing") Pricing
    li.nav-item
      a.nav-link(target="_blank" href="https://learn.azuqua.com") Docs
  //- ul.nav.navbar-nav.float-md-right
  //-   li(style="font-size: 12px;") #[a(href="http://auth.azuqua.com/signin") Log in] or #[a(href="http://auth.azuqua.com/signup?signup_from=Auth&partner_name=Azuqua") Sign up]
