extends ../layouts/layout

block content
  .container.call-to-action(style="padding-top: 50px;")
    .row(style="padding-top: 15px;")
      .col-md-7.text-md-center
        img.img-fluid(src="./img/landing_img.png")
      .col-md-5
        h6 Fast, powerful, scalable
        h3(style="color: rgba(0, 140, 238, 1);") From idea to product, instantly.
        p Spend your time innovating, not configuring. Azuqua lets you focus on the most important thing: #[strong building apps]. Azuqua lets you get started building your ideas faster than any other development tool.
        p
         | We provide a beautiful #[strong low code] development environment, #[strong hands-off infrastructure], service integrations to the most #[strong popular APIs] out there, and more.
        form.form-inline(style="padding-top: 15px;" action="https://auth.azuqua.com/signup" method="POST")
          .form-group
            input(name="email" type="email" placeholder="Email Address").form-control
            input(name="signup_from" type="hidden" value="Developer").form-control
            input(name="plan" type="hidden" value="AZQ_DEV").form-control
            input(name="partner_name" type="hidden" value="Azuqua").form-control
          button(type="submit").btn.btn-primary Sign Up For Early Access
  .integrations-background
    .container.integrations
      .row.integration-headline(style="padding-bottom: 25px;")
        .col-md-12.text-md-center
          h2 Connect your app to the API economy
          .lead Over 60+ services from across the web.
      .row
        .col-md-12.text-md-center
          img(src="./img/connectors/apigee.png" width=70 alt="Apigee" title="Apigee")
          img(src="./img/connectors/pivotal_cloud_foundry.png" width=70 alt="Pivotal Cloud Foundry" title="Pivotal Cloud Foundry")
          img(src="./img/connectors/twilio.png" width=70 alt="Twilio" title="Twilio")
          img(src="./img/connectors/twitter.png" width=70 alt="Twitter" title="Twitter")
          img(src="./img/connectors/gmail.png" width=70 alt="Gmail" title="Gmail")
          img(src="./img/connectors/sendgrid.png" width=70 alt="SendGrid" title="SendGrid")
          img(src="./img/connectors/amazon.png" width=70 alt="Amazon S3" title="Amazon S3")
          img(src="./img/connectors/slack.png" width=70 alt="Slack" title="Slack")
          img(src="./img/connectors/stripe.png" width=70 alt="Stripe" title="Stripe")
          img(src="./img/connectors/github.png" width=70 alt="GitHub" title="GitHub")
          img(src="./img/connectors/box.png" width=70 alt="Box" title="Box")
  .example-background(style="background-color: #3A3F50; color: white;")
    .container.features-block
      .row.features-headline
        .col-md-4.offset-md-1
          h2 Break the cycle. Build faster, be happier.
          p The traditional application cycle can be a linear, sluggish process. Azuqua lets you rapidly prototype #[i and] scale your application to be production ready, all within the same development environment.
          p Azuqua enables a build-first development paradigm. We believe that the best way to realize innovative ideas is to actually build them!
        .col-md-7.text-md-center
          img(src="./img/break_cycle.png" width="350")
  .container(style="padding-top: 50px; padding-bottom: 50px;")
    .row(style="padding-bottom: 30px;")
      .col-md-12.text-md-center
        h2 Built with Azuqua
    .row
      .col-md-4
        h5.lead GE Minds + Machines 2016
        h6 Fleet Management System
        p.content An innovative fleet management system that responds, in real-time, to critical asset failures in the field. Built using Azuqua as the microservice orchestration layer.
        p.content Read more about the solution at GE Digital.

      .col-md-4
        h5.lead TechCrunch Disrupt London 2016
        h6 wandered.space, mobile location discovery.
        p.content Sometimes, it's about the journey, not the destination. wandered.space is an app that was built for the TechCrunch Disrupt London 2016 Hackathon.
        p.content Read more about the app at TechCrunch.
      .col-md-4
        h6
  .features-background(style="background-color: #3A3F50; color: white;")
    .container.features-block
      .row.features-headline
        .col-md-12.text-md-center
          h2.display-4 Innovative features. Built for speed.
          .lead(style="color: #DCDCDC") We only create features that we love and would want to use in our day-to-day development process.
      .row.features-list
        .col-md-4.content-section
          h5 Azuqua Platform
          .content(style="color:#DCDCDC;")
            | You build your apps in our visual development environment. We take care of reliability, scalability, and security. Focus your efforts on what matters most.
        .col-md-4.content-section
          h5 Azuqua API Forge
          .content(style="color:#DCDCDC;")
            | Want to integrate a custom API or an API we don't yet support? Azuqua Forge lets you build custom API integrations that you can re-use inside the Azuqua platform. Build once, use everywhere.
        .col-md-4.content-section
          h5
            | Azuqua Devices
          .content(style="color:#DCDCDC;")
            | Send data to your application with the Azuqua Devices mobile app. All the native functionality of a smartphone tied directly to your application.
      .row
        .col-md-4.content-section
          h5.title API-driven development.
          .content(style="color:#DCDCDC;")
            | Azuqua lets you expose your apps as API endpoints.
        .col-md-4.content-section
          h5.title A vast library of integrations.
          .content(style="color:#DCDCDC;")
            | We have over 60+ integrations (we call them connectors!) to leverage within your app. We are constantly developing more connectors every month.
        .col-md-4.content-section
          h5.title Transparent logging and debugging.
          .content(style="color:#DCDCDC;")
            | Azuqua can track and log every single execution of your application. Instead of being a second-class consideration, application history is one of the core concepts built into Azuqua.
      .row
        .col-md-4.content-section
          h5 Real-time, live development.
          .content(style="color:#DCDCDC;")
            | Instead of the constant process of revise code, then deploy, you can make a change to a live application and see that change realized instantly. No deployment necessary.
        .col-md-4.content-section
          h5 The agility to rapidly prototype.
            .content(style="color: #DCDCDC;")
        .col-md-4.content-section
          h5
  .social-background(style="background-color: #FBFBFC;")
    .container(style="padding-top: 80px; padding-bottom: 80px;")
      .row
        .col-md-6
          .h2.lead(style="margin-bottom: 20px;") Recent News
          a(class="twitter-grid" data-chrome="nofooter" data-partner="tweetdeck" href="https://twitter.com/azuqua/timelines/801496659003703296")
          script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
        .col-md-6
          .h2.lead(style="margin-bottom: 20px;") Tweets from #[a(href="https://twitter.com/azuqua") @azuqua]
          a(class="twitter-timeline" data-tweet-limit=3 data-chrome="noheader,nofooter" href="https://twitter.com/azuqua") Tweets by azuqua
