extends ../layouts/layout

block content
  .container.call-to-action(style="padding-top: 50px;")
    .row(style="padding-top: 15px;")
      .col-md-6.embed-responsive.embed-responsive-21by9
        //- img(src="./img/landing_img.png")
        iframe.embed-responsive-item(src="https://player.vimeo.com/video/197442568?title=1&byline=1&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
      .col-md-5.offset-md-1
        h6 Fast, powerful, scalable
        h1(style="color: rgba(0, 140, 238, 1);") From idea to product, instantly.
        p Spend your time innovating, not configuring. Azuqua lets you visually develop #[strong mobile] and #[strong web] backend services, hosted entirely on our infrastructure.
        p
         | We provide a beautiful #[strong low code] development environment, #[strong hands-off infrastructure], service integrations to the #[strong most popular APIs] out there, and more.
        form.form-inline(style="padding-top: 15px;" action="https://auth.azuqua.com/signup" method="POST")
          .form-group
            input(name="email" type="email" placeholder="Email Address").form-control.sign-up-email
            input(name="signup_from" type="hidden" value="Developer").form-control
            input(name="plan" type="hidden" value="AZQ_DEV").form-control
            input(name="partner_name" type="hidden" value="Azuqua").form-control
          button(type="submit").btn.btn-primary Sign Up For Early Access
          //- p(style="font-size: 10px; padding: 3px;")
          //-  i
          //-   a(href="/pricing") what's the catch?
  .integrations-background
    .container(style="padding-top: 50px; padding-bottom: 50px;")
      .row(style="padding-bottom: 40px;")
        .col-md-12.text-md-center
          h2.display-4 Built with Azuqua
      .row(style="padding-bottom: 15px;")
        .col-md-5.offset-md-1
          img.img-fluid(src="./img/flo-force-one.png" alt="FLO Force One Dashboard")
        .col-md-4.offset-md-2
          img.img-fluid(src="./img/wandered_space_mobile.png" width=120 alt="wandered.space")
      .row
        .col-md-5.offset-md-1
          h5.lead GE Minds + Machines 2016 Hackathon
          h6
          p.content FLO Force One was built using HTML/CSS + #[a(href="https://jquery.com/" target="_blank") jQuery] for AJAX calls to the web backend created on the Azuqua Platform. Content was dynamically rendered onto the dashboard for the purpose of the competition.
          p
            a(href="https://azuqua.com/2016/11/mission-accomplished-flo-force-one/" target="_blank") Read More
        .col-md-5.offset-md-1
          h5.lead TechCrunch Disrupt London 2016
          h6
          p.content wandered.space was built using #[a(href="https://facebook.github.io/react/" target="_blank") React.js] and Esri ArcGIS for the front-end component. Azuqua was used to build out the back-end logic, which included integration with the #[a(href="https://developers.arcgis.com/javascript/3/jssamples/exp_geolocate.html" target="_blank") ArcGIS Geolocation API] and #[a(href="http://developer.factual.com/" target="_blank") Factual API].
          p
            a(href="https://techcrunch.com/2016/12/04/wandered-space/") Read More
  .example-background(style="background-color: #3A3F50; color: white;")
    .container(style="padding-top: 60px; padding-bottom: 60px;")
      .row
        .col-md-4
          h2 Expose your app as an API endpoint.
          p.content Get started building your application by creating backend app logic inside our platform. Create the logic, expose it as an endpoint, and call it from a client-side application. You're good to go!
          p Our libary of functions has everything you need to iterate over arrays, manipulate strings, objects, numbers, and more.
        .col-md-8.text-md-right
          iframe(src="https://player.vimeo.com/video/198767028?autoplay=1&loop=1&title=0&byline=0&portrait=0" width="620" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
    //- .container.features-block
    //-   .row.features-headline
    //-     .col-md-4.offset-md-1
    //-       h2 Break the cycle. Build faster, be happier.
    //-       p The traditional application cycle can be a linear, sluggish process. Azuqua lets you rapidly prototype #[i and] scale your application to be production ready, all within the same development environment.
    //-       p Azuqua enables a build-first development paradigm. We believe that the best way to realize innovative ideas is to actually build them!
    //-     .col-md-7.text-md-center
    //-       img(src="./img/break_cycle.png" alt="Break the cycle" width="350")
  .features-background(style="background-color: #222738; color: white;")
    .container.features-block
      .row.features-headline
        .col-md-12.text-md-center
          h2.display-4 Innovative features. Designed for speed.
          .lead(style="color: #DCDCDC") We create features that we love and would want to use in our day-to-day development process.
      .row.features-list
        .col-md-4.content-section
          h5 Azuqua Platform
          .content(style="color:#DCDCDC;")
            | You build your apps in our visual development environment. We take care of reliability, scalability, and security. Focus your efforts on what matters most.
        .col-md-4.content-section
          h5 Azuqua API Forge
          .content(style="color:#DCDCDC;")
            | Want to integrate a custom API or an API we don't yet support? Azuqua Forge lets you build custom API integrations that you can re-use inside the Azuqua platform. Build once, use everywhere.
        .col-md-4.content-section
          h5
            | Azuqua Devices
          .content(style="color:#DCDCDC;")
            | Send data to your application with the Azuqua Devices mobile app. All the native functionality of a smartphone tied directly to your application.
      .row
        .col-md-4.content-section
          h5 Real-time, live development.
          .content(style="color:#DCDCDC;")
            | Instead of the constant process of revise code, then deploy, you can make a change to a live application and see that change realized instantly. No deployment necessary.
        .col-md-4.content-section
          h5.title Transparent logging and debugging.
          .content(style="color:#DCDCDC;")
            | Azuqua can track and log every single execution of your application. Instead of being a second-class consideration, application history is one of the core concepts built into Azuqua.
        .col-md-4.content-section
          h5.title API-first development.
          .content(style="color:#DCDCDC;")
            | Azuqua lets you expose your apps as API endpoints. This form of microservice architecture lets you create services that are flexible and powerful.
      .row
        .col-md-4.content-section
          h5.title A vast library of integrations.
          .content(style="color:#DCDCDC;")
            | We have over 60+ integrations (we call them connectors!) to leverage within your app. We are constantly developing more connectors every month.
        .col-md-4.content-section
          h5 The agility to rapidly prototype.
          .content(style="color: #DCDCDC;") Forget frustrating, hard-to-configure infrastructure. We take care of everything. Azuqua will scale, monitor, and ensure that your app stays reliable.
        .col-md-4.content-section
          h5
  .built-background(style="background-color: #FBFBFC; border-top: 2px solid #E1E1E1; border-bottom: 1px solid #E1E1E1;")
    .container.integrations
      .row.integration-headline(style="padding-bottom: 25px;")
        .col-md-12.text-md-center
          h2 Connect your app to the API economy
          .lead Leverage powerful services that will bring your app to the next level.
      .row
        .col-md-12.text-md-center
          img(src="./img/connectors/apigee.png" width=70 alt="Apigee" title="Apigee")
          img(src="./img/connectors/pivotal_cloud_foundry.png" width=70 alt="Pivotal Cloud Foundry" title="Pivotal Cloud Foundry")
          img(src="./img/connectors/twilio.png" width=70 alt="Twilio" title="Twilio")
          img(src="./img/connectors/twitter.png" width=70 alt="Twitter" title="Twitter")
          img(src="./img/connectors/gmail.png" width=70 alt="Gmail" title="Gmail")
          img(src="./img/connectors/sendgrid.png" width=70 alt="SendGrid" title="SendGrid")
          img(src="./img/connectors/amazon.png" width=70 alt="Amazon S3" title="Amazon S3")
          img(src="./img/connectors/slack.png" width=70 alt="Slack" title="Slack")
          img(src="./img/connectors/stripe.png" width=70 alt="Stripe" title="Stripe")
          img(src="./img/connectors/github.png" width=70 alt="GitHub" title="GitHub")
          img(src="./img/connectors/box.png" width=70 alt="Box" title="Box")

  .social-background
    .container(style="padding-top: 80px; padding-bottom: 80px;")
      .row
        .col-md-6
          .h2.lead(style="margin-bottom: 20px;") Recent News
          a(class="twitter-grid" data-chrome="nofooter" data-partner="tweetdeck" href="https://twitter.com/azuqua/timelines/801496659003703296")
          script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
        .col-md-6
          .h2.lead(style="margin-bottom: 20px;") Tweets from #[a(href="https://twitter.com/azuqua") @azuqua]
          a(class="twitter-timeline" data-tweet-limit=3 data-chrome="noheader,nofooter" href="https://twitter.com/azuqua") Tweets by azuqua
