extends ../layouts/layout

block content
  .container.call-to-action
    .row
      .col-md-7.text-md-center
        img.img-fluid(src="./img/landing_img.png")
      .col-md-5
        h6 Fast, reliable, scalable
        h4(style="color: rgba(0, 140, 238, 1);") Build your apps, not integrations
          //- | Azuqua is the first integration platform designed with #[strong application development] in mind.
        p Develop your apps inside our intuitive (and beautiful!) #[strong low code] visual development environment.
        p We provide ready-made integrations to the most popular services out there. Add even more value to your app by leveraging the burgeoning #[strong API economy].
        //- p
        //-   | "Low code" is often synonymous with "restrictive". This doesn't have to be true.
        p We believe that #[strong powerful] and #[strong easy] don't have to be mutually exclusive. With Azuqua, you get both!
        a(href="http://auth.azuqua.com/signup?signup_from=Auth&partner_name=Azuqua")
          button.btn.btn-lg SIGN UP FOR FREE
        p(style='font-size: 10px; padding-top: 5px;')
          i
            a(href="/more_info/developer_plan.html") what's the catch? find out here!
  .integrations-background
    .container.integrations
      .row.integration-headline(style="padding-bottom: 25px;")
        .col-md-12.text-md-center
          h2 Integrations at the speed of now.
          .lead Over 60+ integrations available to connect to your app.
      .row
        .col-md-12.text-md-center
          img(src="./img/connectors/apigee.png" width=70 alt="Apigee" title="Apigee")
          img(src="./img/connectors/pivotal_cloud_foundry.png" width=70 alt="Pivotal Cloud Foundry" title="Pivotal Cloud Foundry")
          img(src="./img/connectors/twilio.png" width=70 alt="Twilio" title="Twilio")
          img(src="./img/connectors/twitter.png" width=70 alt="Twitter" title="Twitter")
          img(src="./img/connectors/gmail.png" width=70 alt="Gmail" title="Gmail")
          img(src="./img/connectors/sendgrid.png" width=70 alt="SendGrid" title="SendGrid")
          img(src="./img/connectors/amazon.png" width=70 alt="Amazon S3" title="Amazon S3")
          img(src="./img/connectors/slack.png" width=70 alt="Slack" title="Slack")
          img(src="./img/connectors/stripe.png" width=70 alt="Stripe" title="Stripe")
          img(src="./img/connectors/github.png" width=70 alt="GitHub" title="GitHub")
          img(src="./img/connectors/box.png" width=70 alt="Box" title="Box")
  .features-background(style="background-color: #3A3F50; color: white;")
    .container.features-block
      .row.features-headline
        .col-md-12.text-md-center
          h2.display-4 Build fast. Really fast.
          .lead(style="color: #DCDCDC")
      .row.features-list
        .col-md-4.content-section
          h5 Azuqua Platform
          .content(style="color:#DCDCDC;")
            | You build your apps in our visual development environment. We take care of reliability, scalability, and security. Focus your efforts on what matters most.
        .col-md-4.content-section
          h5 Azuqua Forge
          .content(style="color:#DCDCDC;")
            | Want to integrate a custom API or an API we don't yet support? Forge lets you build custom API integrations that you can re-use inside the Azuqua platform. Build once, use everywhere.
        .col-md-4.content-section
          h5
            //- i(class="fa fa-mobile" aria-hidden="true")
            | Azuqua Devices
          .content(style="color:#DCDCDC;")
            | With the Azuqua Devices mobile app, you can activate your app while on-the-go. Interested in logistics, supply chain, or inventory innovation? This enables you to be disruptive in a variety of industries.
      .row
        .col-md-4.content-section
          h5.title API-driven development.
          .content(style="color:#DCDCDC;")
            | Azuqua lets you expose your apps as API endpoints. Build your app, and get it out there into the world.
        .col-md-4.content-section
          h5.title A vast library of integrations.
          .content(style="color:#DCDCDC;")
            | We have over 60+ integrations (we call them connectors!) to leverage within your app. We are constantly developing more connectors every month.
        .col-md-4.content-section
          h5.title Real-time tracking of data.
          .content(style="color:#DCDCDC;")
            | We let you keep track of all the data flowing through your app, in real time. Discover exactly what your apps are doing.
  //- .background(style="background-color: #FBFBFC;")
  //-   .enterprise-features(style="padding-top: 80px; padding-bottom: 80px;")
  //-     .container
  //-       .row
  //-         .col-md-8
  //-           img.img-responsive(src="./img/azuqua_designer.png" width=675)
  //-         .col-md-4
  //-           h1 Programming first.
  //-           .lead No magic handwaving necessary.
  //-           h2(style="line-height: 1.3")
  //-           p All the features of a full-fedged programming language. None of the pain.
  //-           p You should be enabled to #[strong create] applications and integrations leveraging the most effective programming paradigms and principles- just #[strong faster], and #[strong easier].
  //-           p Take the best parts of developing web applications, and ditch the rest.
  //-
  //- .features-background(style="background-color: #3A3F50; color: white;")
  //-   .container.features-block
  //-     .row.features-headline
  //-       .col-md-12.text-md-center
